* {
    box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
}


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #0d0d21;
    color: #bbbbbb;
    font-size: 18px;
    transition: 0.2s;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul li:nth-child(odd) {
    background: #111124;
}


ul li:hover {
    background: #010140;
}


ul li.checked {
    background: #021a03;
    color: #bbbbbb;
    text-decoration: line-through;
}

ul li.checked:hover {
    background: #032605;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #061F70;
    color: #bbbbbb;
}


.header {
    background-color: #061F70;
    padding: 30px 40px;
    color: #bbbbbb;
    text-align: center;
}


.header:after {
    content: "";
    display: table;
    clear: both;
}


input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color: #bbbbbb;
    background-color: #111124;
}


.addBtn {
    padding: 10px;
    width: 25%;
    background: #0d0d21;
    color: #bbbbbb;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #010140;
}
